.heading-line,
ul>h3,
ol>h3 {
    text-align: center;
}

.item-div {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(23, 68, 53);
    color: white;
    border-radius: 20px;
    margin-top: 15px;
}

body {
    background-color: azure;
}

.heading-div {
    background-color: rgb(148, 211, 211);
    border-radius: 20px;
    padding: 20px;
}

.heading-parent {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.img-div-parent {
    margin-top: 15px;
}

/* .first-line{
    width: 200px;
    height: 200px;
} */

.first-line>img {
    width: 200px;
    height: 150px;
}

.first-line {
    display: flex;
}

.img-div-parent-one {
    display: flex;
    border-radius: 20px;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(172, 172, 221);
}

.img-div-parent-two {
    display: flex;
    border-radius: 20px;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(172, 172, 221);
}

.img-div-parent-three {
    display: flex;
    border-radius: 20px;
    justify-content: end;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(172, 172, 221);
}

.img-div-parent-four {
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(172, 172, 221);
}

.img-div-parent-five {
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(172, 172, 221);
}

.img-div-parent-six {
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(172, 172, 221);
}

.p{
    text-align: center;
}

a{
    margin-left: 15px;
}

.input-div{
    margin-top: 15px;
}